* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #fff;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.tile {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Keep tiles square */
  perspective: 1000px;
  transition: transform 1s ease-in-out;
}

.tile-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.tile-front, .tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.tile-front {
  background-color: transparent;
}

.tile-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-back {
  background-color: #0885bf;
  color: #fff;
  transform: rotateY(180deg);
  text-align: center;
  padding: 10px;
}

.tile-back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tile.flipped .tile-inner {
  transform: rotateY(180deg);
}

.tile.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2); /* Adjust scale factor */
  z-index: 10;
  width: 80vw;
  height: 80vh;
  max-width: 600px; /* Ensure it doesn't get too wide */
  max-height: 600px; /* Ensure it doesn't get too tall */
}

.tile.active .tile-inner {
  width: 100%;
  height: 100%;
}

.bottom-row {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  gap: 20px;
}
